header {
    background-color: #244751;
    color: #E8FDFF;
    }
body{
    background-color: whitesmoke;
    font-family: 'Lobster', cursive;
    font-size: 12px;
}
main {
    width:450px;
    background-color: white;
    padding: 16px;
}
.post {
    margin-bottom: 48px;
}
.post .user-info img{
    border-radius: 50%
}
.user-info img {
    width:40px;
}